*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.eot') format('embedded-opentype'),
    url('/fonts/Gilroy-Bold.ttf') format('truetype'),
    url('/fonts/Gilroy-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.eot') format('embedded-opentype'),
    url('/fonts/Gilroy-Medium.ttf') format('truetype'),
    url('/fonts/Gilroy-Medium.woff') format('woff');
    font-style: normal;
    font-weight: medium;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-ExtraBold.eot') format('embedded-opentype'),
    url('/fonts/Gilroy-ExtraBold.ttf') format('truetype'),
    url('/fonts/Gilroy-ExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: extrabold;
    font-display: swap;
}
@font-face {
    font-family: 'Chronicle Display';
    src: url('/fonts/Chronicle-display-bold.eot') format('embedded-opentype'),
    url('/fonts/Chronicle-display-bold.ttf') format('truetype'),
    url('/fonts/Chronicle-display-bold.svg') format('svg'),
    url('/fonts/Chronicle-display-bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Chronicle Display';
    src: url('/fonts/Chronicle-display-semibold.eot') format('embedded-opentype'),
    url('/fonts/Chronicle-display-semibold.ttf') format('truetype'),
    url('/fonts/Chronicle-display-semibold.svg') format('svg'),
    url('/fonts/Chronicle-display-semibold.woff') format('woff');
    font-style: normal;
    font-weight: semibold;
    font-display: swap;
}

/* BASE */
html,body{
    height: 100%;
    line-height: 1;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-family: Gilroy, serif;
    font-weight: bold;
    background: #0B1D26;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
img{
    vertical-align: top;
}
.container{
    max-width: 1462px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */

.header__top{
    width: 1790px;
    padding: 60px 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo{
    font-family: Chronicle Display, serif;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    font-weight: 700;
}

.menu__list{
    display: flex;
}
.menu__item{
    margin-left: 40px;
}
.menu__link{
    transition: 0.3s ease-in;
}
.menu__link:hover{
    color:red;
}

.login{
    font-size: 17px;
    position: relative;
    transition: 0.3s ease-in;
    padding-left: 30px;
}
.login:hover{
   color:darkblue;
}

.login::before{
    content: '';
    position:absolute;
    width: 24px;
    height: 24px;
    top: -6px;
    left: 0;
    background-image: url(../img/account.svg);
}

.header__title-label { 
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    position: relative;
    padding-left: 100px;
}
.header__title-label::before { 
    content: '';
    position:absolute;
    width: 72px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #FBD784;
}
.header__title { 
font-family: Chronicle Display;
font-weight: 600;
font-size: 88px;
line-height: 100px;
text-transform: capitalize;
}
.header__title-scroll {
    position: relative;
}




/* .wrapper{
    min-height: 100%;
}


.parallax{
   min-height: 100vh;
}
.parallax__body{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax__container{
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
.parallax__label{
    color: #FBD784;
    display: flex;
    font-size: 18px;
    letter-spacing: 6px;
    margin: 0 0 30px 0;
    align-items: center;
}
.parallax__label::before{
    content: '';
    flex: 0 0 70px;
    margin: 0 30px 0 0;
    background-color: #FBD784;
    height: 1px;
}

.parallax__title{
    font-size: 88px;
}
.parallax__images{
    position: absolute;
    width: 130%;
    height: 130%;
    top: -20px;
    left: -20px;
    z-index: 1;
}

.content{
    background-color: #0B1D26;
    position: relative;
    z-index: 2;
}
.content::before{
    pointer-events: none;
   content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translate(0, -100%);
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
}
.content__container{}
.content__title{
    font-size: 35px;
    margin: 0 0 30px 0;
}
.content__text p{
    margin: 0 0 30px 0;
}
.images-parallax{}
.images-parallax__item{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human{
    position: absolute;
    width: 100%;
    height: 100%;
}

.images-parallax__clouds{
    background: url("../img/clouds.jpg") top / cover no-repeat;
    top: 0;
}
.images-parallax__mountains{
    background: url("../img/mountains.png") top / cover no-repeat;
    top: 15%;
    z-index: 2;
}
.images-parallax__human{
    background: url("../img/human.png")top / cover no-repeat;
    top: 45%;
    z-index: 3;
}

@media (max-aspect-ratio: 3/2) {
    .images-parallax__human{
        background-position: 20% top;
    }
}


@media (max-width: 767px) {
    .parallax__title{
        font-size: 50px;
    }
    .parallax__label{
        font-size: 16px;
        margin: 0 0 15px 0;
    }
}
@media (max-width: 479px) {
    .parallax__title{
        font-size: 36px;
    }
    .parallax__label::before{
        flex: 0 0 50px;
        margin: 0 10px 0 0;
    }
} */
